<a href="https://colab.research.google.com/github/nisharajupal/basic-python/blob/main/6_Functions_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
# Block of code
# Code reuseability
# DRY - Don't Repeat Yourself

## Basics

In [ ]:
def SimpleFunction():
    print("Inside SimpleFunction!!!")
    print("Exiting SimpleFunction")

In [ ]:
SimpleFunction()

Inside SimpleFunction!!!
Exiting SimpleFunction

In [ ]:
def findMaximum(x, y):
    if x > y:
        return x
    else:
        return y

In [ ]:
findMaximum(3, 5)

5

In [ ]:
result = findMaximum(10, 3)

In [ ]:
print(result)

10

## Factorial Of Number

### Iterative Approach

In [ ]:
# 5! = 5 * 4 * 3 * 2 * 1
# 4! = 4 * 3 * 2 * 1
# 1! = 1
# 0! = 1

In [ ]:
def iterFactorial(num):
    # result, iteration, sequence
    result = 1
    for item in range(1, num + 1):
        result = result * item
    return result

In [ ]:
print(iterFactorial(5))

120

In [ ]:
# Take userinput and then call this function

In [ ]:
num = int(input("Enter any number: "))
print("Result: ", iterFactorial(num))

Enter any number: -8
Result:  1

### Recursive Approach

In [ ]:
# 5! = 5 * 4!
# 4! = 4 * 3!
# 3! = 3 * 2!
# 2! = 2 * 1!
# n! = n * (n-1)!

In [ ]:
def recurFactorial(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num * recurFactorial(num - 1)

In [ ]:
num = int(input("Enter any number: "))
print("Result: ", recurFactorial(num))

Enter any number: 5
Result:  120

## Default Arguments

In [ ]:
def DefaultArgumentFunction(x=123):
    print("The value of x is {}".format(x))

In [ ]:
DefaultArgumentFunction()

The value of x is 123

In [ ]:
DefaultArgumentFunction(456)

The value of x is 456

In [ ]:
DefaultArgumentFunction("Hello World!!!")

The value of x is Hello World!!!

## Named Arguments

In [ ]:
def namedArgumentFunction(a, b, c):
    print("The values are a: {}, b: {}, c: {}".format(a, b, c))

In [ ]:
namedArgumentFunction(100, 200, 300) # positional way of passing the values

The values are a: 100, b: 200, c: 300

In [ ]:
namedArgumentFunction(c=900, a=700, b=800) # Using named/keyword way of passing the values

The values are a: 700, b: 800, c: 900

In [ ]:
# When using both positional and named, always pass positional arguments before named arguments

In [ ]:
namedArgumentFunction(a=500, 600, c=700) # error

SyntaxError: positional argument follows keyword argument (<ipython-input-31-a82e9539e47f>, line 1)

In [ ]:
namedArgumentFunction(33, c=55, b=44)

The values are a: 33, b: 44, c: 55

In [ ]:
namedArgumentFunction(1000, c=2000, a=1500)

TypeError: namedArgumentFunction() got multiple values for argument 'a'

## Lambda Functions

In [ ]:
def MySquare(num):
    return num * num

In [ ]:
print(MySquare(10))

100

* Lamda Functions
* Functions with *NO* names
* Anonymous functions
* One-liner functions

In [ ]:
f = lambda num: num * num

In [ ]:
f(11)

121

In [ ]:
print(f(11))

121

In [ ]:
print((lambda num: num * num)(11))

121

## args and kwargs

### args

In [ ]:
def SumOfNumbers(x, y):
    result = x + y
    print("Result: ", x + y)

In [ ]:
SumOfNumbers(1, 2)

Result:  3

In [ ]:
# SumOfNumbers([1, 2, 3, 4, 5])

In [ ]:
def SumOfNumbersUsingArgs(*args): # Receiver Side, All the arguments are packed into a tuple
    print("Args: ", args)
    print("Type Of Args: ", type(args))
    result = 0
    for item in args:
        result += item
    print("Result : ", result)

In [2]:
SumOfNumbersUsingArgs(1, 2)

NameError: ignored

In [ ]:
SumOfNumbersUsingArgs(1, 2, 3)

Args:  (1, 2, 3)
Type Of Args:  <class 'tuple'>
Result :  6

In [ ]:
SumOfNumbersUsingArgs(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Args:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Type Of Args:  <class 'tuple'>
Result :  55

In [ ]:
t = (10, 20, 30, 40, 50)

In [ ]:
SumOfNumbersUsingArgs(t) # Incorrect of passing the elements

Args:  ((10, 20, 30, 40, 50),)
Type Of Args:  <class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [ ]:
SumOfNumbersUsingArgs(t[0], t[1], t[2], t[3], t[4])

Args:  (10, 20, 30, 40, 50)
Type Of Args:  <class 'tuple'>
Result :  150

In [ ]:
SumOfNumbersUsingArgs(*t) # Caller side, Unpacking

Args:  (10, 20, 30, 40, 50)
Type Of Args:  <class 'tuple'>
Result :  150

### args - taking user input

In [ ]:
userInput = input("Enter comma seperated numbers: ")

Enter comma seperated numbers: 11,22,33,44,55

In [ ]:
print(userInput, type(userInput))

11,22,33,44,55 <class 'str'>

In [ ]:
lstNo = userInput.split(",")

In [ ]:
lstNo

['11', '22', '33', '44', '55']

In [ ]:
newNo = []
for item in lstNo:
    newNo.append(int(item))

In [ ]:
newNo

[11, 22, 33, 44, 55]

In [ ]:
SumOfNumbersUsingArgs(*newNo)

Args:  (11, 22, 33, 44, 55)
Type Of Args:  <class 'tuple'>
Result :  165

## kwargs - Dict

In [ ]:
# printPlayerDetailsV1(name="Virat", age=33, team="RCB")

In [ ]:
# printPlayerDetailsV2(name="Virat", age=33, team="RCB", salary=1000)

In [ ]:
def printPlayerDetails(**kwargs): # Receiver side, all the named/keyword arguments are packed into a dict. Packing
    print("kwargs : ", kwargs)
    print("Type of kwargs: ", type(kwargs))
    for k, v in kwargs.items():
        print("k -> {}, v -> {}".format(k, v))

In [ ]:
printPlayerDetails(name="Virat", age=33, team="RCB")

kwargs :  {'name': 'Virat', 'age': 33, 'team': 'RCB'}
Type of kwargs:  <class 'dict'>
k -> name, v -> Virat
k -> age, v -> 33
k -> team, v -> RCB

In [ ]:
printPlayerDetails(name="Virat", age=33, team="RCB", salary=1000)

kwargs :  {'name': 'Virat', 'age': 33, 'team': 'RCB', 'salary': 1000}
Type of kwargs:  <class 'dict'>
k -> name, v -> Virat
k -> age, v -> 33
k -> team, v -> RCB
k -> salary, v -> 1000

In [ ]:
d = {"name": "MSD", "age": 39, "team": "CSK"}

In [ ]:
printPlayerDetails(name=d['name'], age=d['age'], team=d['team'])

kwargs :  {'name': 'MSD', 'age': 39, 'team': 'CSK'}
Type of kwargs:  <class 'dict'>
k -> name, v -> MSD
k -> age, v -> 39
k -> team, v -> CSK

In [ ]:
printPlayerDetails(**d) # Caller Side, Unpacking

kwargs :  {'name': 'MSD', 'age': 39, 'team': 'CSK'}
Type of kwargs:  <class 'dict'>
k -> name, v -> MSD
k -> age, v -> 39
k -> team, v -> CSK

In [ ]:
# printPlayerDetails(d)